@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-caption {
    @apply text-4xl xl:text-7xl font-bold leading-10;
  }
  .page-caption--spaced {
    @apply mt-20 mb-7;
  }
  .page-subcaption {
    @apply text-xl xl:text-3xl text-gray-500 font-semibold;
  }
  .container {
    @apply max-w-[95%] xl:max-w-5xl mx-auto;
  }
  .form-group {
    @apply mb-4;
  }
  .form-input {
    @apply input input-bordered w-full mb-3 transition-all duration-100 ease-in active:border-primary focus:border-primary focus:outline-none;
  }
  .form-button {
    @apply btn btn-primary btn-block;
  }
  .responsive-grid {
    @apply grid  sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4;
  }
}

.loading-spinner-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
